# Created by https://www.toptal.com/developers/gitignore/api/adobe
# Edit at https://www.toptal.com/developers/gitignore?templates=adobe

### Adobe ###
# Adobe Source Files
*.psd
*.ai
*.indd
*.prproj
*.aep

# Misc
*.db

# End of https://www.toptal.com/developers/gitignore/api/adobe